/* Mixins */
.hamburger-container {
  width: 82px;
  height: 19px;
  position: relative;
  float: right;
  margin: 6px 0;
  cursor: pointer; }
  .hamburger-container .hamburger {
    width: 22px;
    height: 19px;
    position: absolute;
    top: 30px;
    right: 0; }
  .hamburger-container .line {
    width: 22px;
    height: 3px;
    background-color: #E3E3E3;
    position: absolute; }
    .hamburger-container .line-1 {
      top: 0; }
    .hamburger-container .line-2 {
      top: 8px; }
    .hamburger-container .line-3 {
      top: 16px; }
  .hamburger-container .active .line-1 {
    animation: line-1-animate 0.6s forwards;
    transform: rotate(0deg); }
  .hamburger-container .active .line-2 {
    animation: line-2-animate 0.2s forwards; }
  .hamburger-container .active .line-3 {
    animation: line-3-animate 0.6s forwards;
    transform: rotate(0deg); }
  .hamburger-container .dormant .line-1 {
    animation: line-1-unanimate 0.6s forwards;
    transform: rotate(0deg); }
  .hamburger-container .dormant .line-2 {
    animation: line-2-unanimate 0.4s forwards; }
  .hamburger-container .dormant .line-3 {
    animation: line-3-unanimate 0.6s forwards;
    transform: rotate(0deg); }

@keyframes line-1-animate {
  0% {
    top: 0;
    transform: rotate(0deg); }
  45% {
    top: 8px;
    transform: rotate(0deg); }
  60% {
    top: 8px;
    transform: rotate(0deg); }
  100% {
    top: 8px;
    transform: rotate(45deg); } }
@keyframes line-2-animate {
  100% {
    opacity: 0; } }
@keyframes line-3-animate {
  0% {
    top: 16px;
    transform: rotate(0deg); }
  45% {
    top: 8px;
    transform: rotate(0deg); }
  60% {
    top: 8px;
    transform: rotate(0deg); }
  100% {
    top: 8px;
    transform: rotate(-45deg); } }
@keyframes line-1-unanimate {
  0% {
    top: 8px;
    transform: rotate(45deg); }
  45% {
    top: 8px;
    transform: rotate(0deg); }
  60% {
    top: 8px;
    transform: rotate(0deg); }
  100% {
    top: 0;
    transform: rotate(0deg); } }
@keyframes line-2-unanimate {
  0% {
    opacity: 0; }
  45% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes line-3-unanimate {
  0% {
    top: 8px;
    transform: rotate(-45deg); }
  45% {
    top: 8px;
    transform: rotate(0deg); }
  60% {
    top: 8px;
    transform: rotate(0deg); }
  100% {
    top: 16px;
    transform: rotate(0deg); } }
header {
  height: 90px;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.9);
  position: absolute;
  bottom: 0;
  z-index: 60; }
  header .row {
    padding: 0 30px 0 50px; }
  header ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  header .logo {
    height: 90px;
    width: 70px;
    float: left; }
    header .logo img {
      height: 100%;
      width: 100%; }
  header.scroll {
    position: fixed;
    top: 0;
    z-index: 10; }

nav {
  display: none;
  float: right; }
  nav .nav {
    float: left;
    padding-right: 20px; }
  nav li {
    float: left;
    padding: 44px 20px; }
    nav li a {
      color: #E3E3E3;
      text-decoration: none;
      font-size: 16px; }
      nav li a:hover {
        color: #613192; }
    nav li.current-menu-item a {
      color: #613192; }

@font-face {
  font-family: 'NexaLight';
  src: url("../fonts/NexaLight.ttf.woff") format("woff"), url("../fonts/NexaLight.ttf.svg#NexaLight") format("svg"), url("../fonts/NexaLight.ttf.eot"), url("../fonts/NexaLight.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lobster-13';
  src: url("../fonts/Lobster-13.ttf.woff") format("woff"), url("../fonts/Lobster-13.ttf.svg#Lobster-13") format("svg"), url("../fonts/Lobster-13.ttf.eot"), url("../fonts/Lobster-13.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
.scroll-triangle {
  position: absolute;
  height: 50px;
  width: 50px;
  left: 50%;
  margin-left: -25px; }
  .scroll-triangle.z-seven svg polygon {
    stroke: #E3E3E3; }
  .scroll-triangle.z-six svg polygon {
    stroke: #1486ce; }
  .scroll-triangle.z-five svg polygon {
    stroke: #E3E3E3; }
  .scroll-triangle.z-four svg polygon {
    stroke: #613192; }
  .scroll-triangle.z-three svg polygon {
    stroke: #E3E3E3; }
  .scroll-triangle.z-two svg polygon {
    stroke: #1486ce; }
  .scroll-triangle.z-one svg polygon {
    stroke: #E3E3E3; }
  .scroll-triangle.z-one {
    transition: rotate 0.5s ease-in-out;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }
  .scroll-triangle.z-one.rotate {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

section {
  overflow: hidden;
  position: relative; }
  section.banner .scroll-triangle {
    bottom: 125px; }
  section.about .scroll-triangle, section.strategy .scroll-triangle, section.branding .scroll-triangle, section.design .scroll-triangle, section.interactive .scroll-triangle, section.contact .scroll-triangle {
    top: -50px; }

body {
  margin: 0;
  font-family: 'NexaLight';
  background-color: #E3E3E3;
  color: #171717; }

.cfx:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.pull-right {
  float: right; }

* {
  box-sizing: border-box; }

a {
  color: #613192;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  outline: none; }
  a:hover {
    color: #1e1e1e; }
  a:active {
    outline: none; }
  a:focus {
    outline: none; }
  a img {
    outline: none; }

img {
  width: 100%;
  display: block;
  border: 0;
  height: auto; }

.svg {
  max-width: 100%;
  max-height: 100%; }

.heading, h1, h2, h3, h4, h5, h6, p, span {
  line-height: 1.4em;
  margin: 0; }

p {
  font-size: 32px;
  line-height: 38px; }

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }

.banner {
  background: url("../img/1.jpg") 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center; }
  .banner-overlay {
    z-index: 4;
    width: 100%;
    background: -moz-linear-gradient(left, #3e0855 0%, #2989d8 94%, #2989d8 95%, #2989d8 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3e0855), color-stop(94%, #2989d8), color-stop(95%, #2989d8), color-stop(100%, #2989d8));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #3e0855 0%, #2989d8 94%, #2989d8 95%, #2989d8 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #3e0855 0%, #2989d8 94%, #2989d8 95%, #2989d8 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #3e0855 0%, #2989d8 94%, #2989d8 95%, #2989d8 100%);
    /* IE10+ */
    background: linear-gradient(to right, #3e0855 0%, #2989d8 94%, #2989d8 95%, #2989d8 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e0855', endColorstr='#992989d8',GradientType=1 );
    /* IE6-9 */ }
    .banner-overlay #simple3D {
      position: absolute;
      z-index: 1;
      width: 100%; }
    .banner-overlay #simple3D div {
      min-height: 1100px;
      width: 120%; }
    .banner-overlay #simple3D div.stars1 {
      background: url(../img/stars3.png); }
    .banner-overlay #simple3D div.stars2 {
      background: url(../img/stars2.png); }
    .banner-overlay #simple3D div.stars3 {
      background: url(../img/stars1.png); }
  .banner-content {
    margin-top: -100px; }
  .banner-breadcrumbs {
    padding-top: 100px;
    display: inline-block; }
    .banner-breadcrumbs ul {
      list-style: none; }
    .banner-breadcrumbs li {
      float: left;
      position: relative;
      margin: 0 20px;
      font-size: 45px;
      line-height: 36px; }
      .banner-breadcrumbs li a {
        color: #E3E3E3;
        transition: text-shadow 0.3s ease; }
        .banner-breadcrumbs li a:hover {
          text-shadow: 0 0 5px #E3E3E3; }
    .banner-breadcrumbs-triangle {
      height: 40px;
      width: 40px; }
  .banner-strapline {
    text-align: center;
    display: inline-block;
    width: 100%; }
    .banner-strapline h1 {
      color: #E3E3E3;
      font-size: 100px;
      font-family: 'Lobster-13';
      font-weight: 200; }

.left {
  float: left;
  width: 50%; }
  .left.copy {
    padding: 0 5% 0 0; }

.right {
  float: right;
  width: 50%; }
  .right.copy {
    padding: 0 0 0 5%; }

section {
  background-color: #E3E3E3;
  display: none; }
  section h2 {
    font-family: 'Lobster-13';
    font-size: 100px;
    line-height: 76px;
    font-weight: 200;
    margin-bottom: 50px; }
  section.about {
    position: relative; }
  section.strategy {
    background-color: #1486ce;
    color: #E3E3E3; }
    section.strategy .left {
      position: relative; }
      section.strategy .left .img {
        position: absolute;
        bottom: 0;
        max-height: 100%;
        width: 100%; }
  section.design {
    background-color: #613192;
    color: #E3E3E3; }
  section.contact {
    background-color: #1486ce;
    color: #E3E3E3; }
