/* Mixins */
body {
  margin: 0;
  font-family: 'NexaLight';
  background-color: #fff; }

.cfx:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.pull-right {
  float: right; }

a {
  color: #3e0855;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  outline: none; }
  a:hover {
    color: #1e1e1e; }
  a:active {
    outline: none; }
  a:focus {
    outline: none; }
  a img {
    outline: none; }

img {
  width: 100%;
  display: block;
  border: 0;
  height: auto; }

.heading, h1, h2, h3, h4, h5, h6, p, span {
  line-height: 1.4em; }

@font-face {
  font-family: 'NexaLight';
  src: url('../fonts/NexaLight.ttf.woff') format('woff'), url('../fonts/NexaLight.ttf.svg#NexaLight') format('svg'), url('../fonts/NexaLight.ttf.eot'), url('../fonts/NexaLight.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lobster-13';
  src: url('../fonts/Lobster-13.ttf.woff') format('woff'), url('../fonts/Lobster-13.ttf.svg#Lobster-13') format('svg'), url('../fonts/Lobster-13.ttf.eot'), url('../fonts/Lobster-13.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal; }

.hamburger-container {
  width: 82px;
  height: 19px;
  position: relative;
  float: right;
  margin: 20px 0;
  cursor: pointer; }
  .hamburger-container .hamburger {
    width: 22px;
    height: 19px;
    position: absolute;
    top: 30px;
    right: 0; }
  .hamburger-container .line {
    width: 22px;
    height: 3px;
    background-color: #fff;
    position: absolute; }
    .hamburger-container .line-1 {
      top: 0; }
    .hamburger-container .line-2 {
      top: 8px; }
    .hamburger-container .line-3 {
      top: 16px; }
  .hamburger-container .active .line-1 {
    -webkit-animation: line-1-animate 0.6s forwards;
            animation: line-1-animate 0.6s forwards;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }
  .hamburger-container .active .line-2 {
    -webkit-animation: line-2-animate 0.2s forwards;
            animation: line-2-animate 0.2s forwards; }
  .hamburger-container .active .line-3 {
    -webkit-animation: line-3-animate 0.6s forwards;
            animation: line-3-animate 0.6s forwards;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }
  .hamburger-container .dormant .line-1 {
    -webkit-animation: line-1-unanimate 0.6s forwards;
            animation: line-1-unanimate 0.6s forwards;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }
  .hamburger-container .dormant .line-2 {
    -webkit-animation: line-2-unanimate 0.4s forwards;
            animation: line-2-unanimate 0.4s forwards; }
  .hamburger-container .dormant .line-3 {
    -webkit-animation: line-3-unanimate 0.6s forwards;
            animation: line-3-unanimate 0.6s forwards;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg); }

@-webkit-keyframes line-1-animate {
  0% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  45% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  60% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    top: 8px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }

@keyframes line-1-animate {
  0% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  45% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  60% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    top: 8px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); } }

@-webkit-keyframes line-2-animate {
  100% {
    opacity: 0; } }

@keyframes line-2-animate {
  100% {
    opacity: 0; } }

@-webkit-keyframes line-3-animate {
  0% {
    top: 16px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  45% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  60% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    top: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); } }

@keyframes line-3-animate {
  0% {
    top: 16px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  45% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  60% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    top: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); } }

@-webkit-keyframes line-1-unanimate {
  0% {
    top: 8px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

  45% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  60% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes line-1-unanimate {
  0% {
    top: 8px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

  45% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  60% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    top: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@-webkit-keyframes line-2-unanimate {
  0% {
    opacity: 0; }

  45% {
    opacity: 0; }

  60% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes line-2-unanimate {
  0% {
    opacity: 0; }

  45% {
    opacity: 0; }

  60% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes line-3-unanimate {
  0% {
    top: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

  45% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  60% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    top: 16px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes line-3-unanimate {
  0% {
    top: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

  45% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  60% {
    top: 8px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    top: 16px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

header {
  height: 120px;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.8);
  position: absolute;
  z-index: 3; }
  header .row {
    padding: 0 30px 0 50px; }
  header ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  header .logo {
    height: 80px;
    width: 163px;
    float: left;
    margin-top: 20px; }

nav {
  display: none;
  float: right; }
  nav .nav {
    float: left;
    padding-right: 20px; }
  nav li {
    float: left;
    padding: 44px 20px; }
    nav li a {
      color: #fff;
      text-decoration: none;
      font-size: 16px; }
      nav li a:hover {
        color: #3e0855; }
    nav li.current-menu-item a {
      color: #3e0855; }

.banner {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  z-index: 1; }
  .banner-overlay {
    z-index: 4;
    width: 100%;
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: linear-gradient(to right, #3e0855 0%, rgba(41, 137, 216, 0.62) 94%, rgba(41, 137, 216, 0.62) 95%, rgba(41, 137, 216, 0.6) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e0855', endColorstr='#992989d8',GradientType=1 );
    /* IE6-9 */ }
    .banner-overlay #simple3D {
      position: absolute;
      z-index: 1;
      width: 100%; }
    .banner-overlay #simple3D div {
      min-height: 1100px;
      width: 120%; }
    .banner-overlay #simple3D div.stars1 {
      background: url(../img/stars3.png); }
    .banner-overlay #simple3D div.stars2 {
      background: url(../img/stars2.png); }
    .banner-overlay #simple3D div.stars3 {
      background: url(../img/stars1.png); }
  .banner-breadcrumbs {
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
    margin-top: 310px;
    z-index: 5; }
    .banner-breadcrumbs ul {
      list-style: none;
      position: relative;
      left: 50%; }
    .banner-breadcrumbs li {
      float: left;
      position: relative;
      margin: 0 20px;
      font-size: 45px; }
      .banner-breadcrumbs li a {
        color: #fff;
        transition: text-shadow 0.3s ease; }
        .banner-breadcrumbs li a:hover {
          text-shadow: 0 0 5px #fff; }
    .banner-breadcrumbs-triangle {
      height: 40px;
      width: 40px; }
  .banner-strapline {
    text-align: center;
    display: inline-block;
    width: 100%; }
    .banner-strapline h1 {
      color: #fff;
      font-size: 80px;
      font-family: 'Lobster-13';
      font-weight: 200; }
  .banner-scroll {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    z-index: 6; }
