.scroll-triangle{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 50%;
    margin-left: -25px;


    &.z-seven svg polygon{stroke: $white;}
    &.z-six svg polygon{stroke: $blue;}
    &.z-five svg polygon{stroke: $white;}
    &.z-four svg polygon{stroke: $purple;}
    &.z-three svg polygon{stroke: $white;}
    &.z-two svg polygon{stroke: $blue;}
    &.z-one svg polygon{stroke: $white;}

    &.z-one{
        transition: rotate 0.5s ease-in-out;
        transform: rotate(0deg);
    }

    &.z-one.rotate{
        transform: rotate(180deg);
    }

}

section{
    overflow: hidden;
    position: relative;

    &.banner{
        .scroll-triangle{
            bottom: 125px;
        }
    }

    &.about, &.strategy, &.branding, &.design, &.interactive, &.contact{
        .scroll-triangle{
            top: -50px;
        }
    }
}