@import 'colours';
@import 'mixins';
@import 'hamburger';
@import 'navBar';
@import 'fonts';
@import 'scroll-arrows';
@import 'slider';

//-----------------------------------------------//
//------------------- Global --------------------//

body {
	margin: 0;
	font-family: 'NexaLight';
	background-color: $white;
    color: $dark-grey;
}
.cfx:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.pull-right {
	float: right;
}

*{box-sizing: border-box;}

a {
    color: $purple;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    outline: none;

    &:hover {
        color: $grey;
    }

    &:active {
		outline: none;
	}
    &:focus {
		outline: none;
		border: none;
	}

    img {
		outline: none;
	}
}

img {
    width: 100%;
    display: block;
    border: 0;
    height: auto;
}

.svg{
    max-width: 100%;
    max-height: 100%;
}

.heading, h1, h2, h3, h4, h5, h6, p, span {
    line-height: 1.4em;
    margin: 0;
}

p{
    font-size: 32px;
    line-height: 38px;
}

//-----------------------------------------------//

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}




.banner {
    //background-color: rgba(255,255,255,0.7);
    //background: linear-gradient(to right,  rgba(62,8,85,1) 0%,rgba(41,137,216,1) 94%,rgba(41,137,216,1) 95%,rgba(41,137,216,1) 100%); /* W3C */
    background: url("../img/banner.png") 0 0 no-repeat;
    background-size: cover;
	width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
	&-overlay {
		z-index: 4;
		width: 100%;
		background: -moz-linear-gradient(left,  rgba(62,8,85,1) 0%, rgba(41,137,216,1) 94%, rgba(41,137,216,1) 95%, rgba(41,137,216,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(62,8,85,1)), color-stop(94%,rgba(41,137,216,1)), color-stop(95%,rgba(41,137,216,1)), color-stop(100%,rgba(41,137,216,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(62,8,85,1) 0%,rgba(41,137,216,1) 94%,rgba(41,137,216,1) 95%,rgba(41,137,216,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(62,8,85,1) 0%,rgba(41,137,216,1) 94%,rgba(41,137,216,1) 95%,rgba(41,137,216,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(62,8,85,1) 0%,rgba(41,137,216,1) 94%,rgba(41,137,216,1) 95%,rgba(41,137,216,1) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(62,8,85,1) 0%,rgba(41,137,216,1) 94%,rgba(41,137,216,1) 95%,rgba(41,137,216,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e0855', endColorstr='#992989d8',GradientType=1 ); /* IE6-9 */
		#simple3D {
		  position: absolute;
		  z-index: 1;
		  width: 100%;
		}
		#simple3D div {
		  min-height: 1100px;
		  width: 120%;
		}
		#simple3D div.stars1 {
		  background: url(../img/stars3.png);
		}
		#simple3D div.stars2 {
		  background: url(../img/stars2.png);
		}
		#simple3D div.stars3 {
		  background: url(../img/stars1.png);
		}
	}

    &-content{
        margin-top: -100px;
    }
	&-breadcrumbs {
		padding-top: 100px;
        display: inline-block;

		ul {
			list-style:none;
		}

		li {
			float:left;
			position:relative;
			margin: 0 20px;
			font-size: 45px;
            line-height: 36px;

			a {
				color: $white;
				transition: text-shadow 0.3s ease;
				&:hover {
					text-shadow: 0 0 5px $white;
				}
			}
		}
		&-triangle {
			height: 40px;
			width: 40px;
		}
	}
	&-strapline {
		text-align: center;
		display: inline-block;
		width: 100%;
		h1 {
			color: $white;
			font-size: 100px;
			font-family: 'Lobster-13';
			font-weight: 200;
		}
	}
}

.left{
    float: left;
    width: 47.5%;
    margin: 0 2.5% 0 0;

    &.copy{
        margin: 0 2.5% 0 0;
    }
}
.right{
    float: right;
    width: 47.5%;
    margin: 0 0 0 2.5%;

    &.copy{
        margin: 0 0 0 2.5%;
    }
}

section{
    background-color: $light-grey;
    display: none;

    h2{
        @include heading-large;
    }
    p{
        padding-bottom: 20px;
    }

    &.about{
        position: relative;
    }

    &.strategy{
        background-color: $blue;
        color: $white;

        .left{
            position: relative;
            .img{
                position: absolute;
                bottom: 0;
                max-height: 100%;
                width: 100%;
            }
        }
    }

    &.design{
        background-color: $purple;
        color: $white;
    }

    &.contact{
        background-color: $blue;
        color: $white;
    }
}




//Contact Form
.contact-form {
	p {
		font-size: 32px;
	}
}
.wpcf7 input,
.wpcf7 textarea{
    resize: none;
    width: 90%;
    padding:10px;
	margin: 10px 0;
    color:#fff;
	border: none;
	border-bottom: 1px solid #fff;
	background-color: #1486ce;
	font-family: 'NexaLight';
	font-size: 30px;
    &:focus {
		outline: none;
	}
}

#wpcf7-f8-o1 > form > p:nth-child(4) > span > textarea {
		border: 1px solid #fff;
		margin-top: 50px;
		height: 150px;

}

.wpcf7 .wpcf7-list-item{
  padding-left: 0;
  margin-left: 0;
  margin-right: 25px;
}

.wpcf7 .wpcf7-list-item input{
  border: none;
  padding-left: 0;
  margin-left: 0;
}

.wpcf7 select{
  outline: none;
}



.wpcf7 input.wpcf7-submit{

    -webkit-transition: 0;
  -moz-transition: 0;
  -o-transition: 0;
  transition: 0;
  border: 1px solid #fff;
  position: relative;
  color: #fff;
  font-size: 14px;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 40%;
  font-family: 'Lobster-13';
  font-size: 40px;
}


/* On hover */
.wpcf7 input.wpcf7-submit:hover{
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
}
/* CF7 Messages */
.wpcf7 .wpcf7-validation-errors{
    border:none;
}

.wpcf7 .wpcf7-mail-sent-ok{
    border:none;
}

.wpcf7 .wpcf7-mail-sent-ng{
    border:none;
    background-color:#a611b0;
    color: #fff;
}

.wpcf7 span.wpcf7-not-valid-tip{
    border:none;
	color: #fff;
	float: right;
	position: relative;
	font-size: 20px;
	margin-top: -40px;
	margin-right: 58px;

}
div.wpcf7 img.ajax-loader {
	display: none;
}
.wpcf7-form .fleft{
  float: left;
}

.wpcf7-form .mright20{
  margin-right: 20px;
}

.wpcf7-form .mright40{
  margin-right: 40px;
}

.wpcf7-form .clear{
  clear: both;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
	font-size: 30px;
	font-style: normal;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}